## .NET Core / ASP.NET Core
bin/
obj/
*.user
*.suo
*.cache
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.userprefs
*.sln.ide/
*.sln.dfstatelocal

## VS Code / Editors
.vscode/
.idea/

## Build outputs
Debug/
Release/
x64/
x86/
Win32/
Arm/
Arm64/
bld/
log/
logs/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

## Rider / JetBrains
*.sln.iml
*.DotSettings.user

## Logs / OS files
*.log
Thumbs.db
.DS_Store